
<div class="app-card-container">
  <div class="card">
    <h1>About Me</h1>

    <hr>
    <div class="row">
      <div class="col-md-4">
        <%= image_tag "profile.jpg", width:"50%", alt: "profile image", class: 'profile-img' %>
        <div class="skills">
          <% @skills.each do |skill| %>
          <div class="skill">
            <h5><%= skill.title %></h5>
            <div class="progress">
              <div
              class="progress-bar progress-bar-striped bg-danger"
              role="progressbar"
              aria-valuenow="<%= skill.percent_utilized %>"
              aria-valuemax="100"
              style="width: <%= skill.percent_utilized %>%"
              ></div>
            </div>
          </div>
          <% end %>
        </div>
      </div>

      <div class="col-md-8">
        <p>Even if I just gratued from my engineering school, i believe i already had a wide range of experiences on different technologies. I learned the basics of software programming, artificial intelligence, machine learning and project management but i'm aiming to be a better engineer everyday. </p>
        <p>
          <button
class="btn btn-outline-secondary"
          type="button"
          data-toggle="collapse"
          data-target="#jobHistory"
          aria-expanded="false"
          aria-controler="jobHistory"
          >
          Job History
        </button>

        <button
class="btn btn-outline-secondary"        type="button"
        data-toggle="collapse"
        data-target="#education"
        aria-expanded="false"
        aria-controler="education"
        >
        Education
      </button>
      <button
class="btn btn-outline-secondary"      type="button"
      data-toggle="collapse"
      data-target="#projects"
      aria-expanded="false"
      aria-controler="
      projects"
      >
      Projects
    </button>

    <button
class="btn btn-outline-secondary"    type="button"
    data-toggle="collapse"
    data-target="#Associations"
    aria-expanded="false"
    aria-controler="
    projects"
    >
    Associations
  </button>
</p>

<p>
  <div class="collapse" id="jobHistory">
   <h5>Job History</h5>

   <div class="card card-block">
    <div class="row align-items-center">
      <div class="col-md-4">
       <%= image_tag "VILOGI.png", width:"100%" %>
     </div>
     <div class="col-md-8" >
      <Strong>2018</Strong><br>
      VILOGI - Software editor start up for real estate companies<br>
      <i>5 months - J2EE Developper</i>
    </div>
  </div>
</div>


<div class="card card-block">
  <div class="row align-items-center">
    <div class="col-md-4">
     <%= image_tag "CAP.png", width:"100%" %>
   </div>
   <div class="col-md-8" >
    <Strong>2019</Strong>
    <br>Capgemini Technology Services<br>
    <i>6 months - Consultant case management on CRM systems</i>
  </div>
</div>
</div>

</div>

<div class="collapse" id="education">
  <h5>Education</h5>

  <div class="card card-block">
    <div class="row align-items-center">
      <div class="col-md-4">
        <%= image_tag "ESILV.png", width:"100%" %>
      </div>
      <div class="col-md-8" >
        <Strong>2014-2019</Strong>
        <br>
        Ecole Supérieure d'Ingénieurs Léonard de Vinci<br>
        <i>IoT, IT and Big Data Specialization</i>
      </div>
    </div>
  </div>


  <div class="card card-block">
    <div class="row align-items-center">
      <div class="col-md-4">
        <%= image_tag "CU.png", width:"90%" %>
      </div>
      <div class="col-md-8" >
        <Strong>2018-2019</Strong><br>
        Coventry University <br>
        <i>Artifical Intelligence - Machine Learning  </i>
        <br>
        <i>ERASMUS Semester</i>
      </div>
    </div>
  </div>
</div>
<div class="collapse" id="projects">
 <h5>Projects</h5>

 <div class="card card-block">
  <div class="row align-items-center">
    <div class="col-md-4">
     <%= image_tag "InMoov.png", width:"100%" %>
   </div>
   <div class="col-md-8" >
    <Strong>2017-2018</Strong><br>
    Integrate emotions inside the 
    <a href="http://inmoov.fr/">InMoov</a>
    Robot<br>
    <i>1 year project - DevinciBot Association from ESILV</i>
  </div>
</div>
</div>
<div class="card card-block">
  <div class="row align-items-center">
    <div class="col-md-4">
     <%= image_tag "Lock.png", width:"100%" %>
   </div>
   <div class="col-md-8" >
    <Strong>2016-2017</Strong><br>
    Create a low cost connected lock connected to the web<br>
    <i>1 year project</i>
  </div>
</div>
</div>
<div class="card card-block">
  <div class="row align-items-center">
    <div class="col-md-4">
     <%= image_tag "Wrist.png", width:"100%" %>
   </div>
   <div class="col-md-8" >
    <Strong>2015-2016</Strong><br>
    Create a connected wristlet for children and seniors <br>
    <i>6 months project</i>
  </div>
</div>
</div>
</div>

<div class="collapse" id="Associations">
 <h5>Associations</h5>

 <div class="card card-block">
  <div class="row align-items-center">
    <div class="col-md-4">
     <%= image_tag "3V.png", width:"80%" %>
   </div>
   <div class="col-md-8" >
    <Strong>2015-2018</Strong><br>
    Veni, Vidi, deVinci: Student association welcoming and sponsoring new students<br>
    <i>Co-founder and President of association</i>
  </div>
</div>
</div>
<div class="card card-block">
  <div class="row align-items-center">
    <div class="col-md-4">
     <%= image_tag "ESILV.png", width:"100%" %>
   </div>
   <div class="col-md-8" >
    <Strong>2014-2016</Strong><br>
    Present the ESILV's programs to future engineers<br>
    <i>"Expert" in promoting ESILV</i>
  </div>
</div>
</div>
<div class="card card-block">
  <div class="row align-items-center">
    <div class="col-md-4">
     <%= image_tag "ESILV.png", width:"100%" %>
   </div>
   <div class="col-md-8" >
    <Strong>2016-2018</Strong><br>
    Manage the student promoting ESILV to future engineers<br>
    <i>"Manager" in promoting ESILV</i>
  </div>
</div>
</div>
</div>
</p>
</div>
</div>
</div>
</div>